-injars build\install\survey-report-shadow\lib\survey-report-1.1-all.jar
-outjars build\install\survey-report-shadow\lib\survey-report-1.1-all-pro.jar

-libraryjars 'C:\Program Files\Java\jdk\jre\lib\rt.jar'
-libraryjars 'C:\Program Files\Java\jdk\jre\lib\ext\jfxrt.jar'

-skipnonpubliclibraryclasses
-dontoptimize
-dontobfuscate
-dontnote
-dontwarn



# Keep - Applications. Keep all application classes, along with their 'main' methods.
-keepclasseswithmembers public class * {
    public static void main(java.lang.String[]);
}

# Also keep - Enumerations. Keep the special static methods that are required in
# enumeration classes.
-keepclassmembers enum  * {
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

# Also keep - Database drivers. Keep all implementations of java.sql.Driver.
-keep class * extends java.sql.Driver

# Also keep - Swing UI L&F. Keep all extensions of javax.swing.plaf.ComponentUI,
# along with the special 'createUI' method.
-keep class * extends javax.swing.plaf.ComponentUI {
    public static javax.swing.plaf.ComponentUI createUI(javax.swing.JComponent);
}

# Keep - Native method names. Keep all native class/method names.
-keepclasseswithmembers,includedescriptorclasses,allowshrinking class * {
    native <methods>;
}
